app/*/migrations/*.py
app/*/migrations/__pycache__/
app/*/__pycache__/
app/config/__pycache__/
app/config/__pycache__/*.pyc
app/config/settings/__pycache__/
app/config/settings/__pycache__/*
app/config/settings/__pycache__/base.cpython-37.pyc
app/config/media/images/*.jpg
app/config/media/images/*.png
app/*/.DS_Store
.DS_Store

*.pyc
!__init__.py


app/share_xela_for


