

    <br />
    <table class="table table-bordered table-hover">
    <tbody>
    <tr>
    <td><a href="{% url 'avisos:test_aviso' %}">Mostrar notificaciones no leídas</a></td>
    </tr>
    <tr>
    <td><a href="{% url 'avisos:test_aviso_all' %}">Mostrar todo AVISO</a></td>
    </tr>
    <tr>
    <td><a href="{% url 'solicitudes:solicitud_item' %}">Mostrar lista de solicitudes</a></td>
    </tr>
    <tr>
    <td><a href="{% url 'direct_messages:dm_list' %}">A la lista de mensajes</a></td>
    </tr>
    </tbody>
    </table>

