{% extends 'config/base.html' %}
{% load user_agents %}
{% load static %}


{% block head %}
    {% if request|is_pc %}
    <!-- adjusting footer -->
    {# <link rel="stylesheet" href="{% static 'css/adjusting_footer.css' %}"> #}
    <link rel="stylesheet" href="{% static 'css/footer_settings.css' %}">
    {% elif request|is_mobile %}
    {% endif %}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
        <h4>Deja Feedback al contribuyente</h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            
        <form method="post" action="{% url 'feedback:feedback' %}"->
        
        <!--form method="post" action="#"-->    
        {% csrf_token %}

        {{ form.level }}

        {% comment %}{{ form.solicitud_user }}{% endcomment %}


        {{ form.content }}

        
        <br />


        <!--button class="btn btn-primary" >送信</button-->
        <button class="btn btn-primary btn-block">enviar</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}