{% extends 'config/base.html' %}
{% load user_agents %}
{% load static %}


{% block head %}
<title>Aviso</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}


{% block content %}
{# PC content テンプレート #}{% if request|is_pc %}

<div class="container">
	<div class="row ">
		<div class="col-3 mr-0 px-4">
			<p class="text-center pb-0 mb-0 mr-0 pr-0"><font size="6">Avisos</font></p>
			<hr class="pt-0 mx-4" />			
		</div>
		<div class="col-9 mt-4  ml-0 pl-2">
			
			{% if type == "ALL" %}
			<ul class="nav nav-tabs ml-0 pl-0 ">
				<li class="nav-item  ml-0 pl-0 ">
				<a class="nav-link active" href="#">Todo de Aviso</a>
				</li>
				<li class="nav-item">
				<a class="nav-link" href="{% url 'avisos:avisos_list' %}">Solo Avisos no leído</a>
				</li>
			</ul>
			{% elif type == "FILETERED" %}
			<ul class="nav nav-tabs ">
				<li class="nav-item">
				<a class="nav-link" href="{% url 'avisos:avisos_alllist' %}">Todo de Aviso</a>
				</li>
				<li class="nav-item">
				<a class="nav-link active" href="#">Solo Avisos no leído</a>
				</li>			
			</ul>
			{% endif %}
		</div>	
	</div>

	<div class="row">
	</div>
	{% comment %}
	<!--div class="row">
		<div class="col">
				<table class="table table-striped mt-5">
				<thead>
				<tr>
				<th scope="col" >Estado</th>
				<th scope="col">Fecha</th>
				<th scope="col">Aviso</th>
				</tr>
				</thead>
				<tbody>
				{% for obj in aviso_objects %}
				<tr>
				<th scope="row">
					{% if obj.checked == False %}
					{# 未読 #} 
					{% elif obj.checked == True %}
					{# 既読 #} &nbsp;&nbsp;&nbsp;
					<span class="material-icons">
						check_circle_outline
						</span>	
					{% endif %}					
				</th>
				<td >
					{{ obj.created_at }}
				</td>
				{% if obj.content_type.model == "solicitud" %}
				<td >
					

					{#  <a href="{% url 'solicitudes:get_solicitud' obj.object_id %}">アイテムの取引申請が来ています</a> #}
					{#  <a href="{% url 'avisos:aviso_check' obj.id %}">アイテムの取引申請が来ています</a> #}
					<a href="{% url 'avisos:aviso_check' obj.id %}">Hay Solicitud de transacción</a>
				</td>
				{% elif obj.content_type.model == "directmessage" %}
				<td>
					

					{# <a href="{% url 'direct_messages:get_dm' obj.object_id  %}">あなたが取引相手として決まりました</a> #}
					<a href="{% url 'avisos:aviso_check' obj.id %}">Usted ha sido decidido como socio comercial</a>
				</td>	
				{% elif obj.content_type.model == "directmessagecontent" %}				
				<td>
					
					{# <a href="{% url 'direct_messages:get_dm' obj.object_id  %}">メッセージが来ました</a> #}
					<a href="{% url 'avisos:aviso_check' obj.id %}">Hay mensaje</a>
				</td>
				{% elif obj.content_type.model == 'itemcontact' %}
				<td >
					

					{# <a href="{% url 'item_contacts:item_itemcontact' obj.object_id %}">アイテムにコメントが付きました。</a> #}
					{# <a href="{% url 'avisos:aviso_check' obj.id %}">アイテムにコメントが付きました。</a> #}
					<a href="{% url 'avisos:aviso_check' obj.id %}">Hay commentarios del articulo</a>
					
				</td>
				{% endif %}	
				

				</tr>
				{% endfor %}
				</tbody>
				</table>

				{% if aviso_objects.count <= 4 %}
				{% include "config/include/general/basic_margin.html" %}
				{% include "config/include/general/basic_margin.html" %}
				{% include "config/include/general/basic_margin.html" %}
				{% include "config/include/general/basic_margin.html" %}
				{% include "config/include/general/basic_margin.html" %}
				{% include "config/include/general/basic_margin.html" %}
				{% include "config/include/general/basic_margin.html" %}
				{% include "config/include/general/basic_margin.html" %}
				{% include "config/include/general/basic_margin.html" %}
				{% endif %}
			
		</div>
	</div-->
	{% endcomment %}
</div>
<div id="list" class="mt-0 pt-0">
	<!--aviso-list v-show="isShow"/-->
	<div v-show="isShow">
		<aviso-list />
	</div>
	
	{% if aviso_objects.count <= 4 %}
	{% include "config/include/general/basic_margin.html" %}
	{% include "config/include/general/basic_margin.html" %}
	{% include "config/include/general/basic_margin.html" %}
	{% include "config/include/general/basic_margin.html" %}
	{% include "config/include/general/basic_margin.html" %}
	
	{% endif %}
</div>



{% include "config/include/general/vue_js_script.html" %}


<script type="text/x-template" id="aviso_list">

	
		<v-card
		  max-width="600"
		  class="mx-auto"
		>
	  
		  <v-list two-line subheader>
			{# <v-subheader inset>Folders</v-subheader> #}
	  
			<v-list-item
			  v-for="(item, index) in items"
			> {# @click="send_page"#}
			
			  <v-list-item-avatar class="mr-3">
				<span v-show="item.checked" class="material-icons" >
					check_circle_outline
					</span>	
			  </v-list-item-avatar>
	  
			  <v-list-item-content >
				<a v-bind:href="item.url">
				<v-list-item-title v-text="item.title" class="red-–text py-1"></v-list-item-title>
				<v-list-item-subtitle v-text="item.date" class="font-weight-light pt-1"></v-list-item-subtitle>
				</a>
			  </v-list-item-content>
	  
			  <!--v-list-item-action>
				<v-btn icon>
				  <v-icon color="grey lighten-1">mdi-information</v-icon>
				</v-btn>
			  </!--v-list-item-action-->
			
			  
			</v-list-item>
			
	  
		  </v-list>
		</v-card>
	  
</script>



<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>

const aviso_list = {
	template: "#aviso_list",
	data: function(){
		var items = new Array();
		{% for obj in aviso_objects %}
		var title = null;
		var url   = null;
		var checked = ( "{{obj.checked}}" == "True")?true:false;
		var date  = "{{ obj.created_at }}";

		if("{{ obj.content_type.model }}" == "solicitud"){
			// アイテムの取引申請が来ています
			title = "Hay Solicitud de transacción"
			url   = "{% url 'avisos:aviso_check' obj.id %}"
		}else if("{{ obj.content_type.model}}" == "directmessage"){
			// あなたが取引相手として決まりました
			title = "Usted ha sido decidido como socio comercial"
			url   = "{% url 'avisos:aviso_check' obj.id %}"
		}else if("{{ obj.content_type.model }}" == "directmessagecontent"){
			// メッセージが来ました
			title = "Hay mensaje"
			url   = "{% url 'avisos:aviso_check' obj.id %}"
		}else if("{{ obj.content_type.model }}" == 'itemcontact'){
			//記事にコメントが付きました
			title = "Hay commentarios del articulo"
			url   = "{% url 'avisos:aviso_check' obj.id %}"
		}
		items.push({
			title: title,
			url: url,
			checked: checked,
			date: date
		})
		{% endfor %}	
		return { items: items }
	},
}


new Vue({
	el:"#list",
	vuetify: new Vuetify(),
	data:{ isShow: false },
	mounted:function(){
		//console.log("{{ aviso_objects.count }}")
		this.isShow = ("{{ aviso_objects.count }}" != "0")?true:false
	},
	components:{'aviso-list': aviso_list}
});


</script>





{# MOBILE content テンプレート #}{% elif request|is_mobile %}

<div class="container">
	<div class="row">
		<div class="col-12">

			<p class="mt-2 pb-0"><font size="6">Avisos</font></p>
			<hr class="pt-0 mt-o" />	
		</div>
		<div class="col-12 mt-1">
			

			<ul class="nav nav-tabs">
			{% if type == "ALL" %}
			<li class="nav-item">
			<a class="nav-link active" href="#">Todo de Aviso</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="{% url 'avisos:avisos_list' %}">Solo Avisos no leído</a>
			</li>

			</ul>
			{% elif type == "FILETERED" %}
			<li class="nav-item">
			<a class="nav-link" href="{% url 'avisos:avisos_alllist' %}">Todo de Aviso</a>
			</li>
			<li class="nav-item">
			<a class="nav-link active" href="#">Solo Avisos no leído</a>
			</li>			
			</ul>
			{% endif %}
		</div>	
	</div>

	<div class="row">



	</div>
	<div class="row">
		<div class="col">

		
				<table class="table table-striped mt-3">
				<thead>
				<tr>
				<th scope="col">Estado</th>
				<th scope="col">Fecha</th>
				<th scope="col">Tipo de aviso</th>
				<th scope="col">Articulo</th>
				</tr>
				</thead>
				<tbody>
				{% for obj in aviso_objects %}
				<tr>
				<th scope="row">
					{% if obj.checked == False %}
					{# 未読 #}
					{% elif obj.checked == True %}
					{# 既読 #} &nbsp;&nbsp;&nbsp;
					<span class="material-icons">
						check_circle_outline
						</span>	
					{% endif %}					
				</th>
				<td>
					{{ obj.created_at }}
				</td>
				<td>
					{% if obj.content_type.model == "solicitud" %}

					{#  <a href="{% url 'solicitudes:get_solicitud' obj.object_id %}">アイテムの取引申請が来ています</a> #}
					{#  <a href="{% url 'avisos:aviso_check' obj.id %}">アイテムの取引申請が来ています</a> #}
					<a href="{% url 'avisos:aviso_check' obj.id %}">Hay Solicitud de transacción</a>
				</td>
				<td>	
					{{ obj.content_object.item }}<br/>
				</td>
				<td>
					{% elif obj.content_type.model == "directmessage" %}

					{# <a href="{% url 'direct_messages:get_dm' obj.object_id  %}">あなたが取引相手として決まりました</a> #}
					<a href="{% url 'avisos:aviso_check' obj.id %}">Usted ha sido decidido como socio comercial</a>
				</td>	
				<td>	
					{{ obj.content_object.item }}<br/>
				</td>				
				<td>
					{% elif obj.content_type.model == "directmessagecontent" %}

					{# <a href="{% url 'direct_messages:get_dm' obj.object_id  %}">メッセージが来ました</a> #}
					<a href="{% url 'avisos:aviso_check' obj.id %}">Hay mensaje</a>
				</td>
				<td>
					{{ obj.content_object.dm.item }}<br/>
				</td>	
				<td>
					{% elif obj.content_type.model == 'itemcontact' %}

					{# <a href="{% url 'item_contacts:item_itemcontact' obj.object_id %}">アイテムにコメントが付きました。</a> #}
					{# <a href="{% url 'avisos:aviso_check' obj.id %}">アイテムにコメントが付きました。</a> #}
					<a href="{% url 'avisos:aviso_check' obj.id %}">Hay commentarios del articulo</a>

				</td>
				<td>
					{{ obj.content_object.item }}<br/>
				</td>

					{% endif %}					

				</td>
				
				</tr>
				{% endfor %}
				</tbody>
				</table>
			
		</div>
	</div>
</div>

{% endif %}
{% endblock %}

