{% extends 'config/base.html' %}
{% load static %}


{% block head %}
<title>No articulos</title>
{% endblock %}

{% block content %}

<!--投稿しているものは一切ありません。-->
<h3>No hay nada que publicar</h3>



{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}


{% endblock %}