{% extends 'config/base.html' %}
{% load user_agents %}
{% load static %}


{% block head %}
<title>Aviso</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}


{% block content %}
{# PC content テンプレート #}
 
<div class="container">
	<div class="row ">
		<div class="col-12 mr-0 px-4">
			<p class="text-center pb-0 mb-0 mr-0 pr-0"><font size="6">Artículos en comercio</font></p>
			<hr class="pt-0 mx-4" />			
		</div>
    </div>
</div>

<div id="list" class="mt-0 pt-0">
	<div v-show="isShow">
        <aviso-list />
	</div>
</div>

{% if item_objects.count <= 4 %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}	
{% endif %}


















{% endblock %}



{% block javascript %}


{% include "config/include/general/vue_js_script.html" %}
{% include "config/include/general/vuetify_script.html" %}


<script type="text/x-template" id="aviso_list">


	<div class="container" >
        <v-app>
        <v-sheet class="pa-5 mx-auto" max-width="700">
            <a v-bind:href='filter_url' style="text-decoration:none;">
                <v-switch class="mx-auto" inset v-model="filtering" v-bind:label="filter_label" ></v-switch>
            </a>
        </v-sheet>
    
		<v-card
          max-width="700"
		  class="mx-auto"
		>
	  
		  <v-list two-line subheader>
	  
			<v-list-item
              v-for="(item, index) in items"
              no-action
              v-bind:href="item.item_url"
              style="text-decoration:none;"
            >
            
			
			  <v-list-item-avatar class="mr-3">
                <v-checkbox
                :input-value="item.is_feedbacked"
                color="#76FF03"
                readonly
                
              ></v-checkbox>	
              </v-list-item-avatar>

              <v-list-item-avatar>
				<v-img v-bind:src="item.image_url" class="cardProfileImage">	
              </v-list-item-avatar>

              <v-list-item class="p-1 ml-2">
				<v-list-item-title v-text="item.title" class="py-1"></v-list-item-title>	
			  </v-list-item>
	  
			  <v-list-item-content >
				<v-list-item-title v-text="item.title" class="red-–text py-1"></v-list-item-title>
				<v-list-item-subtitle v-text="item.date" class="font-weight-light pt-1"></v-list-item-subtitle>
			  </v-list-item-content>
			
            
			</v-list-item>
		  </v-list>
        </v-card>
    </v-app>

    </div>
	  
</script>




<script>
const aviso_list = {
    template: "#aviso_list",
    data: function(){
        
        var items = new Array();
        {% for obj in item_objects %}
        var is_feedbacked = null;
        var title = "";
        {# スマホの場合タイトルが見切れる場合があるので、その場合には省略する仕様にする #}
        if("{{ obj.title }}".length < 25){
            title = "{{ obj.title }}"
        }else if("{{ request|is_mobile }}"=="True"){
            var title_base = "{{ obj.title }}";
            title = title_base.slice(0, 25)+"...";
        }else{ title = "{{ obj.title }}"}

        var image_url = "{{ obj.image1.url }}";
        var item_url  = "{% url 'items:item_detail' obj.id %}"
        if("{{ obj.direct_message.owner }}"=="{{ request.user }}"){
            is_feedbacked = ("{{ obj.direct_message.is_feedbacked_by_owner }}"=="True")?true:false
        }else if("{{ obj.direct_message.participant }}"=="{{ request.user }}"){
            is_feedbacked = ("{{ obj.direct_message.is_feedbacked_by_participant }}"=="True")?true:false
        }

        items.push({
            title: title,
            image_url: image_url,
            item_url: item_url,
            is_feedbacked: is_feedbacked
        })
        
        {% endfor %}
        var filtering = ("{{ type }}"=="FILTERED")?true:false;
        var filter_url = (filtering==true)?"{% url 'items:in_trade_all' %}":"{% url 'items:in_trade' %}";
        var filter_label = "Sólo los artículos que no deja comentarios";
        return { items: items,
                    filtering: filtering,
                    filter_url: filter_url,
                    filter_label: filter_label }
    },
}
    
    
new Vue({
    el:"#list",
    vuetify: new Vuetify(),
    data:{ isShow: false },
    mounted:function(){
        this.isShow = ("{{ item_objects.count }}" != "0")?true:false
    },
    components:{'aviso-list': aviso_list}

    });
</script>


{% endblock %}
