{% extends "account/base.html" %}
{% load user_agents %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{% if request|is_pc %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-5">

        {#<h1>{% trans "Sign In" %}</h1> #}
        <h1>Iniciar Session</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-md-center">
    <div class=col-5>
<!--div class="socialaccount_ballot">

  <ul class="socialaccount_providers"-->
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  <!--/ul>
</div-->

{# <p>------------------メールアドレスでログイン---------------------</p> #}
{% include "config/include/general/basic_margin.html" %}  
<br />
<p class="text-center">--Inicie sesión con su dirección de correo electrónico--</p>



<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}

  {{ form.as_p }}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  <button id="btn_sign_in" class="primaryAction btn  btn-block btn-primary" type="submit">{% trans "Sign In" %}</button>

  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br />
  <a href ="{{ signup_url }}">{% trans "Sign Up" %}</a>
 
</form>


    </div>
  </div>

</div>




{% elif request|is_mobile %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12">

        <h1>{% trans "Sign In" %}</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12">
<!--div class="socialaccount_ballot">

  <ul class="socialaccount_providers"-->
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  <!--/ul>
</div-->

{# <p>------------------メールアドレスでログイン---------------------</p> #}
<br />
<hr />
<p class="h5">Inicie sesión con su dirección de correo electrónico</p>



<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}

  {{ form.as_p }}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  <button class="primaryAction btn  btn-block btn-primary" type="submit">{% trans "Sign In" %}</button>

  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br />
  <a href ="{{ signup_url }}">{% trans "Sign Up" %}</a>
 
</form>

    </div>
  </div>
</div>









{% endif %}

{% endblock %}









{% comment %}
{% get_providers as socialaccount_providers %}


{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>



<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <!--div class="login-or">{% trans 'or' %}</div-->
  <p>----------------------------------------------</p>

</div>


{% include "socialaccount/snippets/login_extra.html" %}


{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
{% endcomment %}