{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row center-content-justify">
            <div class="col">

                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" name="action" value="{% trans 'change password' %}"/>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}


            </div>
        </div>
    </div>


    {% include "config/include/general/basic_margin.html" %}
    {% include "config/include/general/basic_margin.html" %}
    {% include "config/include/general/basic_margin.html" %}
    {% include "config/include/general/basic_margin.html" %}
    {% include "config/include/general/basic_margin.html" %}
    {% include "config/include/general/basic_margin.html" %}
    {% include "config/include/general/basic_margin.html" %}
    {% include "config/include/general/basic_margin.html" %}
{% endblock %}



{% block javascript %}
<script>
{# "id=id_emailのdomを取得して、class属性select_heightを追加する" #}

window.addEventListener('load', function() {
    var password1_form = document.getElementById("id_password1")
    password1_form.setAttribute('class', 'select_height');
    password1_form.setAttribute('class', 'form-control');
    password1_form.setAttribute('size', '45');

    var password2_form = document.getElementById("id_password2")
    password2_form.setAttribute('class', 'select_height');
    password2_form.setAttribute('class', 'form-control');
    password2_form.setAttribute('size', '45');  
    
    var btns = document.getElementsByName("action");
    btns[0].setAttribute('class', 'btn btn-primary');

})
</script>


{% endblock %}
action


