{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% load user_agents %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block head %}
    <!-- adjusting footer -->
    <link rel="stylesheet" href="{% static 'css/adjusting_footer.css' %}">
{% endblock %}


{% block content %}
{% if request|is_pc %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6">

            <p class="h3 mt-2 ">{% trans "Password Reset" %}</p>
            <hr class="mt-0" />
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control btn btn-primary btn-block" type="submit" value="{% trans 'Reset My Password' %}" />
            </form>

            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            <a href="{% url 'contacts:inquiries' %}">Contáctanos</a>
        </div>
    </div>
</div>
{% elif request|is_mobile %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12">

            <p class="h3 mt-2 ">{% trans "Password Reset" %}</p>
            <hr class="mt-0" />
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-control btn btn-primary btn-block" type="submit" value="{% trans 'Reset My Password' %}" />
            </form>

            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            <a href="{% url 'contacts:inquiries' %}">Contáctanos</a>

        </div>
    </div>
</div>


{% endif %}
{% endblock %}
