{% extends "account/base.html" %}
{% load socialaccount %}
{% load user_agents %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% if request|is_pc %}
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-5">
			<h1>{% trans "Sign Up" %}</h1>

			<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
		</div>
	</div>	
</div>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-6">

			<a class="btn btn-block btn-social btn-google btn-lg" href="{% provider_login_url 'google' %}"><span class="fa fa-google"></span>{# Googleアカウントで会員登録 #}
			Registro de miembro con cuenta de Google</a><br />
			<a class="btn btn-block btn-social btn-facebook btn-lg" href="{% provider_login_url 'facebook' %}"><span class="fa fa-facebook"></span>{# Facebookアカウントで会員登録 #}
			Registro de miembro con cuenta de Facebook</a><br />

			{# <p>-------------------- メールアドレスで登録 ----------------------</p> #}
			<br />
			<p>-----------Registro de miembro con dirección de correo electrónico-----------</p>

			<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
			  {% csrf_token %}
			  {{ form.as_p }}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <button class="btn btn-block btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
			</form>

		</div>
	</div>
</div>

{% elif request|is_mobile %}

<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-12">
			<h1>{% trans "Sign Up" %}</h1>

			<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
		</div>
	</div>	
</div>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col-12">

			<a class="btn btn-block btn-social btn-google btn-lg" href="{% provider_login_url 'google' %}"><span class="fa fa-google"></span>{# Googleアカウントで会員登録 #}
			Registrarse con la cuenta de Google</a><br />
			<a class="btn btn-block btn-social btn-facebook btn-lg" href="{% provider_login_url 'facebook' %}"><span class="fa fa-facebook"></span>{# Facebookアカウントで会員登録 #}
			Registrarse con la cuenta de Facebook</a><br />

			{# <p>-------------------- メールアドレスで登録 ----------------------</p> #}
			
			<hr />
			<p class="h5">Registro de miembro con dirección de correo electrónico</p>

			<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
			  {% csrf_token %}
			  {{ form.as_p }}
			  {% if redirect_field_value %}
			  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			  {% endif %}
			  <button class="btn btn-block btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
			</form>

		</div>
	</div>
</div>



{% endif %}


{% endblock %}




{% comment %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endcomment %}