<!DOCTYPE html>
<html>
<head>
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
<style type="text/css">
	.leaflet-container {height : 80%;}
</style>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<h1>list</h1>


<div style="height :700px;">
{% leaflet_map "main" callback="map_init_basic" %}
</div>

<script type="text/javascript">
	function map_init_basic(map, options){
	
		var polygons = "{% url 'prefecturas:data' %}";
		console.log(polygons);
		$.getJSON(polygons, function(data){
			//console.log(data);
			L.geoJson(data).addTo(map);

		})
}
</script>

</body>
</html>

<!-- postgisはlonlat leafletはlatlon-->