{% extends 'config/base.html' %}
{% load user_agents %}
{% load static %}

{% block head %}
   <title>crecio articulo</title>


{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
<p class="mt-4 h4">Artículo publicado</p>
<br />
<a class="btn btn-primary " href="{% url 'items:item_detail' item_obj.id %}">Revisar artículo </a>

		</div>
	</div>
</div>

{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}




{% endblock %}