{% extends 'config/base.html' %}

{% load user_agents %}
{% load static %}

{% block head %}
    <title>eliminado</title>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
<p class="mt-4 h4">El artículo especificado ha sido eliminado.</p>
<br />


        </div>
    </div>
</div>
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}




{% endblock %}



