{% extends 'config/base.html' %}
{% load static %}



{% block head %}
<title>Articulos</title>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col">
			<p class="h3 mt-5">No hay articulos</p>
		</div>
	</div>
</div>


{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% include "config/include/general/basic_margin.html" %}
{% endblock %}