Django==2.2.7
django-allauth==0.40.0
django-rest-auth==0.9.5 # https://github.com/pennersr/django-allauth
django-sendgrid-v5==0.8.1
django-user-agents==0.4.0
django-cors-headers==3.4.0
#psycopg2==2.8.5        # https://pypi.org/project/psycopg2/
psycopg2-binary==2.8.5 # https://pypi.org/project/psycopg2-binary/
gunicorn==20.0.4
selenium==3.141.0
django-environ==0.4.5 # https://github.com/joke2k/django-environ
django-filter==2.2.0
django-geojson==2.12.0
django-phonenumber-field==3.0.1
django-tempus-dominus==5.1.2.9
djangorestframework==3.11.0 # https://github.com/encode/django-rest-framework
docutils==0.15.2
firebase-admin==4.3.0
phonenumbers==8.10.21
Pillow==6.2.0 # https://github.com/python-pillow/Pillow
python-memcached==1.59
mock==3.0.5
webdriver_manager==3.2.1
pytz==2019.3  # https://github.com/stub42/pytz
python-slugify==3.0.2  # https://github.com/un33k/python-slugify
argon2-cffi==19.1.0  # https://github.com/hynek/argon2_cffi
redis==3.2.1  # https://github.com/antirez/redis
django-model-utils==3.1.2  # https://github.com/jazzband/django-model-utils
django-crispy-forms==1.7.2  # https://github.com/django-crispy-forms/django-crispy-forms
django-redis==4.10.0  # https://github.com/niwinz/django-redis
coreapi==2.3.3  # https://github.com/core-api/python-client
Babel==2.7.0
CacheControl==0.12.6
cachetools==4.0.0
certifi==2019.11.28
chardet==3.0.4
defusedxml==0.6.0
google-api-core==1.16.0
google-api-python-client==1.8.0
google-auth==1.13.1
google-auth-httplib2==0.0.3
google-cloud-core==1.3.0
google-cloud-firestore==1.6.2
google-cloud-storage==1.27.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
grpcio==1.28.1
httplib2==0.17.1
idna==2.8
Markdown==3.1.1
msgpack==1.0.0
oauthlib==3.1.0
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-http-client==3.2.7
python3-openid==3.1.0
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
six==1.13.0
sqlparse==0.3.0
ua-parser==0.8.0
uritemplate==3.0.1
urllib3==1.25.7
user-agents==2.0