{% comment %}
これを使うとmapをincludeしたところに差し込むことができる。
*単一で使うことができず必ずこのファイルとともにdraw_map_js.htmlもincludeも利用すること。

右を利用する  {% include "items/include/detail/draw_map_js.html" %}
{% endcomment %}






<div class="container" id="map">
    <div class="row">
        <div class="col-12">
            
            {% if item_obj.point %}
            
            <div class="container" id="map_leaflet" v-bind:style="{ width: width, height: height }"></div>

            {% else %}
            {% endif %}
            
        </div>
    </div>
</div>





