
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <p class="h4 p-2 bg-light shadow-sm">Usuario Info</p>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-thumbnail articulo-profile-image" src="{{ profile_obj.image.url }}" />
                            
                        </div>
                        <div class="col-8">
                            <p><a href="{% url 'solicitudes:add_user_to_session' profile_obj.user.id %}" target="_blank" style="text-decoration: none;" >{{ profile_obj.user }}<br/>
                                su articulos otros</a><br/>
                            </p>    
                            {# retroalimentación: {{ feedback_sum }}　promedio: {{ feedback_ave }}<br /> #}
                            <p id="app" ><feedback-show/></p> 
                                                        
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>



{# 　　　　　　　　　　　vuejs CDNの読み込み                #}
{% include 'config/include/general/vue_js_script.html' %}
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script type="text/x-template" id="feedback">

  <div >
    <v-rating
      v-bind:value="rating"
      background-color="#FFC400"
      color="#FFC400"
      dense
      small
      half-increments
      readonly
      class="pl-0 pt-0 mt-0 ml-0"
    ></v-rating>
  </div>  

</script>

<script>


Vue.component("feedback-show",{
    template: "#feedback",
    data: function(){  
      return { rating: parseFloat("{{ feedback_ave }}") }
    },
});




new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      delimiters: ["**","**"],
      data:{ width: "100%",
             height: "240px"},  
    });


</script>