{% load user_agents %}




{% for content_obj in dm_content_objects %}
<div class="container mb-0 py-0">
	<div class="row justify-content-md-center">
		{% if request|is_pc %}
		<div class="col-8 ">
		{% elif request|is_mobile %}	
		<div class="col-12 ">
		{% endif %}
		
			<div class="card shadow">
				<div class="card-body px-4 pt-0 py-2 ">
							<div class="container p-0">
								<div class="row">
									<div class="col-1 mr-3">
										<img class=" mt-1 cardProfileImage rounded"  src="{{ content_obj.profile.image.url }}" />
									</div>
									<div class="col-10">
										<p class="p-1 mb-0">{{ content_obj.profile.user }}</p>
										<hr class="pt-0 mt-2">
									</div>
								</div>
								<div class="row ">
									<div class="col-12 py-0">
										<div class="card-text"> {{ content_obj.content|linebreaks }}</div>
										<p class="text-right pb-0 mb-0">{{ content_obj.created_at }}</p>
									</div>
								</div>
																	
							</div>	
						</div>
				</div>	
			</div>
		</div>
	</div>
</div>
{% endfor%}


