{% load user_agents %}

<div class="container mb-3">
	<div class="row justify-content-md-center">
		{% if request|is_pc %}
		<div class="col-8">
			<form action="{% url 'direct_messages:dm_detail' dm_obj.id %}" method="POST">{% csrf_token %}
				{# {{ form.dm.as_hidden }} #}<br />
				{# {{ form.profile.as_hidden }} #}<br />
				{{ form.content }}
				<button class="btn btn-primary btn-block mt-1">enviar mensaje</button>
			</form>
		</div>
		{% elif request|is_mobile %}
		<div class="col-12">
			<form action="{% url 'direct_messages:dm_detail' dm_obj.id %}" method="POST">{% csrf_token %}
				{# {{ form.dm.as_hidden }} #}<br />
				{# {{ form.profile.as_hidden }} #}<br />
				{{ form.content }}
				<button class="btn btn-primary btn-block mt-1">enviar mensaje</button>
			</form>
        </div>
		{% endif %}	
	</div>
</div>