{% extends 'config/base.html' %}
{% load static %}
{% load user_agents %}




{% block head %}

    <title>ShareXela</title>
{% endblock %}


{% block content %}
{#　pcの場合のcontent template #}{% if request|is_pc %}                         


<img src="{% static 'Xela_.jpg' %}" class="center-foto" />
<div id="app">
        <v-app>            
            <main>
              <gallery-sec/>                
            </main>
            {# カテゴリーメニューの表示 #}
            {% include "config/include/home/pc/categories.html" %}
        </v-app>
</div>

    



{#　mobileの場合のcontent template #}{% elif request|is_mobile %}


<img src="{% static 'Xela_.jpg' %}" height="200px" />

{# 各カテゴリー別記事を表示 #}
{% include 'config/include/home/mobile/items.html' %}

{# カテゴリーメニューの表示 #}
{% include 'config/include/home/mobile/categories.html' %}


{% endif %}
{% endblock %}







{% block javascript %}
{#　pcの場合のjavascript template #}{% if request|is_pc %}

{% include 'config/include/general/vue_js_script.html' %}

{# "#app"に対するvueの展開 #}
{% include 'config/include/home/pc/item_vue_js.html' %}



{# pc javascriptパート 終わり #}   
{#  mobile javascriptパート　始まり #}{% elif request|is_mobile %}



{#  mobile javascriptパート　終わり #} {% endif %}
{% endblock %}

