<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<p class="h4 p-2 bg-light shadow-sm">Comentarios</p>
		</div>		
	</div>


	<div class="row">
		<div class="col-12 ">
		<div class="ml-2">
		{% if item_contact_objects.count == 0 %}
		{# コメントなし #}
		Aún no hay comentarios
		{% else %}

		{% for obj in item_contact_objects %}

		<div class="card my-3  shadow-sm" style="width: 30rem;">
  		<div class="card-body py-2">
    	<h5 class="card-title">{{ obj.post_user }}</h5>
    	<p class="card-text mb-1">{{ obj.message }}</p>
    	<p class="card-link mb-0 pb-0 text-right">{{ obj.timestamp }}</p>
  		</div>
		</div>

		{% endfor %}
		{% endif %}
		</div>
		</div>
	</div>
</div>