<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<br />
			<p class="h4 p-2 bg-light">Comentarios</p>
		</div>		
	</div>


	<div class="row">
		<div class="col-12 ">

		<div class="mx-3">
		{% if item_contact_objects.count == 0 %}
		{# コメントなし #}
		Aún no hay comentarios
		{% else %}

		{% for obj in item_contact_objects %}

		<div class="card my-3" style="width: 31rem;">
  		<div class="card-body">
    	<h5 class="card-title">{{ obj.post_user }}</h5>
    	<!--h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6-->
    	<p class="card-text">{{ obj.message }}</p>
    	
    	<p  class="card-link">{{ obj.timestamp }}</p>
  		</div>
		</div>

		{% endfor %}
		{% endif %}
		</div>
		<br />
		</div>
	</div>
</div>