






/* 各ページの隙間の調整をこれを使う */
.basicMargin {
margin-top: 20px;
}

/* 各画像の表示に際しセンタークロップの状態で表示する */
.centerCrop {
    width: 220px;
    height: 220px;
    object-fit: cover;
}

.mySize{
    width: 220px;
}



/* フォント */
/*
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight:  600;
}
*/
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
body{
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight:  600;
}


@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
.android {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight:  bold;
}


@import url('https://fonts.googleapis.com/css?family=Sacramento');

.logo {
    font-family: 'Sacramento', cursive;
    font-weight:  900;
}



