

/* 各ページの隙間の調整をこれを使う */
.basicMargin {
margin-top: 20px;
}

/* 各画像の表示に際しセンタークロップの状態で表示する */
.centerCrop {
    width:  220px;
    height: 220px;
    object-fit: cover;
}

.centerCropSmall {
    width:  180px;
    height: 180px;
    object-fit: cover;
}

.centerCropSmallMobile {
    width:  110px;
    height: 110px;
    object-fit: cover;
}



.mySize{
    width: 220px;
}

.select_height{
    height:50px;
}

.material-icons{
    height:20px;
}


center-foto{
    width:100%;
}

/* アンカータグ 下線表示なし
使えていない？？ */
a {
    text-decoration: none;
  }

/* avisoのカラー変更  */
.aviso_bg{
    background: #3A1C71;
}  



/* フォント　ファミリー */

/*
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight:  600;
}
*/
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
body{
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight:  600;
}


@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
.android {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight:  bold;
}


@import url('https://fonts.googleapis.com/css?family=Sacramento');

.logo {
    font-family: 'Sacramento', cursive;
    font-weight:  900;
}

/* fontサイズを設定 */
body{
    font-size: 0.8rem;
}
