

/* 各ページの隙間の調整をこれを使う */
.basicMargin {
margin-top: 2.0rem;
}


/* 各画像の表示に際しセンタークロップの状態で表示する */
.centerCrop {
    width:  12.0rem;
    height: 12.0rem;
    object-fit: cover;
}

.centerCropSmall {
    width:  10.0rem;
    height: 10.0rem;
    object-fit: cover;
}

.centerCropSmallMobile {
    width:  11.0rem;
    height: 11.0rem;
    object-fit: cover;
}

.cardProfileImage{
    width:  2.0rem;
    height: 2.0rem;
    object-fit: cover;    
}


.articulo-title{
    font-size: 2.0rem;
    word-wrap:break-all;
}

.articulo-profile-image{
    width:  5.0rem;
    height: 5.0rem;
    object-fit: cover;   
}

.deadline-bg{
    background-color: #E0E0E0;
}


.mySize{
    width: 2.2rem;
}

.select_height{
    height: 2.2rem;
    padding: 0rem 1.0rem 0rem 1.0rem;
}

.material-icons{
    /*https://material.io/resources/icons/*/
    height:2.0rem;
}


center-foto{
    width:100%;
}

/* アンカータグ 下線表示なし
使えていない？？ */
a {
    text-decoration: none;
  }

/* avisoのカラー変更  */
.aviso_bg{
    background: #3A1C71;
}  



/* フォント　ファミリー */

/*
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight:  600;
}
*/
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
body{
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight:  400;
}


@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
.android {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-weight:  400;
}


@import url('https://fonts.googleapis.com/css?family=Sacramento');

.logo {
    font-family: 'Sacramento', cursive;
    font-weight:  900;
}

/* fontサイズを設定 */
body{
    font-size: 0.8rem;
}

