{% extends 'config/base.html' %}
{% load user_agents %}
{% load static %}


{% block head %}

    {# 自作cssファイルの読み込み #}
    <link rel="stylesheet" href="{% static 'css/footer_settings.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/general.css' %}"> 



    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

{% endblock %}


{%  block content %}
{% if request|is_pc %}




{# PC テンプレート #}

<div class="container" id="profile">
    <div class="row">
        <div class="col-12">

            <profile_data/>
        </div>
    </div>
</div>

<div class="container-fluid" id="app">
    <v-app> 
        <main>    
           <item_list/>
        </main>
    </v-app>    
</div>

{# PC テンプレート 終わり #}


{# 以下jacascript #}


{# leaflet cdn読み込み #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css">

{# vue cdn読み込み #}
{% include 'config/include/general/vue_js_script.html' %}


{# vuetfy テンプレート アイテム一覧 #}
<script type="text/x-template" id="item_list">

    <v-container fluid>
        <v-row>
        </v-row>
        <v-row>  
            <v-card cols=3 class="mt-4 mb-4 ml-4 pa-3" v-for="(item,i) in items" :key="i" >
              <a v-bind:href="item.href" >
              <v-layout justify-center>
                  <v-flex  >
                      
                          <v-card-text >
                        
                          <img v-bind:src="item.src" class="centerCrop" alt=""/>
                          
                          <p v-text="item.title" ></p>
                          <span v-text="item.category"></span>
                          <br />
                          <span v-text="item.created_at" ></span>
                          </v-card-text>
        
                  </v-flex>
              </v-layout>
              </a>
        </v-card>
    
        </v-row>
    </v-container>


</script>


<script >
Vue.component("item_list",{
    template: "#item_list",
    data: function(){
      var items = new Array()
      {% for obj in item_objects %}
      items.push({
        src: "{{ obj.image1.url }}",
        title: "{{ obj.title|truncatechars:38 }}",
        
        href: '{% url "items:item_detail" obj.id %}', 
        created_at: '{{ obj.created_at }}',
        category: "{{ obj.category }}",
      })  
      {% endfor %}

      return { items: items }
    }
});


new Vue({
      el: '#app',
      vuetify: new Vuetify(),
    });    
</script>




{# vuetfy テンプレート プロフィールデータ表示 #}

<script type="text/x-template" id="profile_data">
    <v-container fluid>
      <v-row justify="center">
        <v-subheader>Informacion de Usuario</v-subheader>
  
        <v-expansion-panels popout>
          <v-expansion-panel
            
            hide-actions
          >
            <v-expansion-panel-header>
                <v-container >
              <v-row align="center" class="spacer" no-gutters >

                <v-col cols="2" class="ml-0 mr-0">
                  <v-avatar size="80px" class="my-3">
                    <img alt="Avatar" v-bind:src="profile_img_url" >
                  </v-avatar>
                  <br/>
                  <span class="grey--text mt-5" v-text="user_name" ></span>
                </v-col>
  
  
                <v-col cols="5" class="text-no-wrap" >
                  <v-chip class="ml-0 mr-2 black--text" label small>departamento: {{ profile_obj.adm1 }}</v-chip>
                </v-col>
  
                <v-col cols="5" class="text-no-wrap" >
                    <v-chip class="ml-0 mr-2 black--text" label small>municipio: {{ profile_obj.adm2 }}</v-chip>                  
                </v-col>
              </v-row>

              <v-row >
                <v-col cols="12">
                    <span class="grey--text" v-text="description"></span>
                </v-col>
              </v-row>
            </v-container>

            </v-expansion-panel-header>
  
            <v-expansion-panel-content>
              <v-divider></v-divider>
              <v-card-text >マップを挿入する</v-card-text>
              <span id="map_leaflet" class="container"></span>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-row>
    </v-container>
</script> 
    

<script >

Vue.component("profile_data",{
    template: "#profile_data",
    data: function(){
      var profile_img_url = "{{ profile_obj.image.url }}" 
      var user_name       = "{{ profile_obj }}"
      var description     = "{{ profile_obj.description }}"
      var exist_point     = "{{ profile_obj.point }}" == null? false: true ;
      //var exist_radius    = "{{ profile_obj.radius }}" == 0? false: true ;  
      return { profile_img_url: profile_img_url,
               user_name: user_name, 
               description: description,
               exist_point: exist_point}
    }
});


new Vue({
      el: '#profile',
      vuetify: new Vuetify(),
      delimiters: ["**","**"],
      mounted: function(){
        console.log("地図を描画する")
        var lon = "{{ profile_obj.point.x }}";
        var lat = "{{ profile_obj.point.y }}";
        var radius = "{{ profile_obj.radius }}";
        var map = L.map('map_leaflet', { center: [lat, lon],zoom: 13})
                        .addLayer(L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png'));
        //map.setView([lat, lon], 12);
        L.marker([lat, lon]).addTo(map);
      }

    }); 
</script>




{% endif %}






{% if request|is_mobile %}
<div class="container">
    <div class="row">
      <div class="col-12">
        <p><br/></p>

        <div class="card-columns">
        {% for obj in item_objects %}
        <div class="card my-3">
            <div class="card-header">
            <a class="card-title" href="{% url 'items:item_detail' obj.id %}">{{ obj.title }}</a>
            </div>
            <div class="card-body  pl-3">
                <div class="container-fluid">
                    <div class="row ">
                        <div class="col-4 pl-0">
                         <a href="{% url 'items:item_detail' obj.id %}" >
                            <img src="{{ obj.image1.url }}" class="card-img border" style="width: 5rem;" alt="...">
                         </a>
                        </div>
                        <div class="col-8">
                        <p class="card-text">{{ obj.description|truncatechars:100 }}</p>
                        <p class="card-text"><small class="text-muted">{{ obj.category.get_number_display }}<br />
                        {{ obj.created_at }}</small></p>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>

        </div>
    </div>
</div>
{% endif %}


{% endblock %}
