{% extends 'config/base.html' %}
{% load user_agents %}
{% load static %}


{% block head %}
	<title>Contact</title>
{% endblock %}



{% block content %}


{# titleパーツをインクルードする #}
{% include "direct_messages/include/dm_detail/title.html" %}


{# 取引対象情報を表すパーツをインクルードする #}
{% include "direct_messages/include/dm_detail/item_info.html" %}


{# ダイレクトメッセージを一覧するパーツをインクルードする #}
{% include "direct_messages/include/dm_detail/direct_message_list.html" %}


{# ダイレクトメッセージを投稿するパーツをインクルードする #}
{% include "direct_messages/include/dm_detail/send_direct_message.html" %}


{% endblock %}