{% load user_agents %}

<div class="container">
    <div class="row justify-content-md-center">
        {% if request|is_pc %}
        <div class="col-6">
        {% elif request|is_mobile %}
        <div class="col-10 ml-4">
        {% endif %}    
            
        <form method="post" action="{% url 'feedback:feedback' %}"->
        
        <!--form method="post" action="#"-->    
        {% csrf_token %}

        <span>Evaluación</span><br />
        <div id="app">
            <rating-form></rating-form>
        </div>
        

        <span>Comentario</span><br />
        {{ form.content }}

        
        {% include "config/include/general/basic_margin.html" %}


        <!--button class="btn btn-primary" >送信</button-->
        <button class="btn btn-primary btn-block">enviar</button>
        </form>
        </div>
    </div>
</div>







{% include "config/include/general/vue_js_script.html" %}
{% include "config/include/general/vuetify_script.html" %}


<script type="text/x-template" id="rating_form">
    
    <div class="text-center mt-0 pt-0">
        
            <v-rating
            v-model="rating"
            background-color="#FFC400 lighten-3"
            color="#FFC400"
            ></v-rating>
            <input type="hidden" name="level" required v-bind:value="rating">
        
    </div>



</script>
 



<script>

const rating_form = {
    template: "#rating_form",
    data: function(){
        return {rating: "5"}
    }
}


new Vue({
    el:"#app",
    vuetify: new Vuetify(),
    data:{ isShow: false },
    mounted:function(){ },
    components:{'rating-form': rating_form}

});
</script>

