{% load user_agents %}

<div class="container">
    <div class="row justify-content-md-center">
        {% if request|is_pc %}
        <div class="col-6">
        {% elif request|is_mobile %}
        <div class="col-10 ml-4">
        {% endif %}    
            
        <form method="post" action="{% url 'feedback:feedback' %}"->
        
        <!--form method="post" action="#"-->    
        {% csrf_token %}

        {{ form.level }}
        {% include "config/include/general/basic_margin.html" %}


        {% comment %}{{ form.solicitud_user }}{% endcomment %}


        {{ form.content }}

        
        {% include "config/include/general/basic_margin.html" %}


        <!--button class="btn btn-primary" >送信</button-->
        <button class="btn btn-primary btn-block">enviar</button>
        </form>
        </div>
    </div>
</div>